apache-airflow-providers-snowflake==6.0.0
astro-sdk-python[amazon,snowflake]
astronomer-cosmos[dbt.snowflake]
dbt-snowflake
loguru
pandas
pre-commit
python-dotenv
requests
snowflake-connector-python
sqlfluff
